# Data
data/*.csv
data/*.zip
data/*.png

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Models
*.pt
*.pth
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db
